
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --red: #af0000;
    --black: #171717; 
  }

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.alert {
  margin-top: 5em;
}

/* ============= SCROLLER ================= */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff000061; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b300008a; 
}

/*============= PRIMARY TEXT ============*/

.primary-text {
    color: var(--red);
}

/* font weight */

.font-weight-bold {
    font-weight: bold;
}

/* borders */

.border-bottom-5px {
    border-bottom: 5px solid;
}

.border-color-red {
    border-color: var(--red);
}

/* background */

.bg-dark {
    background-color: #171717 !important;
}

.bg-red {
  background-color: var(--red);
}

/* =========== THEME ============= */

.theme-container {
    
}

/*=============== SIDEBAR ===============*/


.sidebar {
    display: block;
    padding: 0;
    display: none;
    box-shadow: none;
    background: #fff;
    top: 55px;
    padding-bottom: 20em;
  }
  
  .sidebar ul {
    margin: 20px 0px;
  }
  
  .sidebar form {
    padding: 10px 0 0 0;
    margin: 10px 10px 20px 10px;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      display: block;
      position: fixed;
      height: 100%;
    }
  
    .navbar-header {
      width: 100%;
    }
  }
  .sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
  }
  
  .sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
    color: #fff;
    background-color: #000;
  }
  
  .sidebar ul.nav ul, .sidebar ul.nav ul li {
    list-style: none;
    list-style-type: none;
  }
  
  .sidebar ul.nav li a {
    height: 50px;
    font-size: 15px;
    line-height: 2em;
    color: #444444;
  }
  
  .sidebar ul.nav ul.children {
    width: auto;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
  }
  
  .sidebar ul.nav ul.children li a {
    height: 40px;
    background: #f1f4f7;
    color: #444444;
  }
  
  .sidebar ul.nav li.current a {
    background-color: #000;
    color: #fff !important;
  }
  
  .sidebar ul.nav li.parent ul li a {
    border: none;
    display: block;
    padding-left: 30px;
    line-height: 40px;
    border-radius: 0;
  }
  
  .sidebar ul.nav li.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 0;
  }
  
  .profile-sidebar {
    padding: 10px 0;
    border-bottom: 1px solid #e9ecf2;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 9999px;
    margin-right: 5px;
  }
  
  .profile-userpic img {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 50px;
    height: 50px;
    border-radius: 9999px !important;
  }
  
  .profile-usertitle {
    float: left;
    text-align: left;
    margin: 10px 0 0 12px;
  }
  
  .profile-usertitle-name {
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .profile-usertitle-status {
    text-transform: uppercase;
    color: #AAA;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .breadcrumb {
    border-radius: 0;
    padding: 10px 15px 10px 15px;
    background: #e9ecf2;
    margin: 0;
  }
  
  h1.page-header {
    margin-top: 20px;
    border-bottom: 0;
  }
  
  .main-chart {
    background: #fff;
  }
  
  .easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
  }
  

.sidebar {
    background-color: var(--black) !important;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
}

.sidebar .active {
    background-color: var(--red) !important;
}

.sidebar .nav-item {
    /* margin: 1em 0em; */
}

.sidebar .nav-item a {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
}

.sidebar .children-item {
  padding: 1em;
}

.sidebar .children-item:hover {
    background-color: var(--red);
}

.sidebar .children-item:hover a {
    background-color: var(--red) !important;
}

.sidebar ul.nav li a {
    padding: 1em 1em;
}

.sidebar .nav-pills li a, .nav-pills li a:hover {
    padding: 0;
}

.sidebar .nav-item a {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar ul.nav li a {
    text-decoration: none;
}

.nav-item-heading {
   
}

.nav-item-heading:hover {
    background-color: var(--red);
}

/* .sidebar .nav-item:hover {
} */

.sidebar-logout-btn {
    background: var(--red);
    color: white;
    border: none;
    padding: 12px 50px;
    width: 100%;
}

.sidebar .active a {
    background-color: var(--red) !important;
}

.profile-sidebar {
    padding: 10px 0;
    border-bottom: 1px solid #e9ecf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-sidebar h3 {
    color: white;
    font-weight: bold;
    color: var(--red);
}

.sidebar ul.nav li a{
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1em 2.3em;
}

.sidebar ul.nav li a:hover {
    background: var(--red);
}

.sidebar ul.nav ul.children {
    background-color: var(--black);
}

.sidebar ul.nav ul.children li a {
    background-color: var(--black);
    color: #ffffffe0;
    font-weight: 200;
}

.sidebar ul.nav ul.children li a:hover {
    background-color: var(--red) !important;
    color: white;
}

.main-sidebar {
    background-color: var(--black);
}
.main-sidebar-toggle-btn {}
.main-sidebar-body {
    background-color: var(--black);
}

.main-sidebar-accordion {
    background-color: var(--black);
}
.main-sidebar-accordion-item {
    border: none;
    background-color: var(--black);
}
.main-sidebar-accordion-item button {
    background-color: #0000ff00 !important;
    box-shadow: none !important;
    border: none !important;
}
.main-sidebar-accordion-item .heading {}
.main-sidebar-accordion-heading {}
.main-sidebar-accordion-heading h2 {}
.main-sidebar-accordion-heading h2 button {
    /* color: var(--red); */
}
.main-sidebar-collapse {}
.main-sidebar-accordion-body {}
.sidebar-navigation {}
.sidebar-navigation-li {}
.sidebar-navigation-link {}
.accordion-button.collapsed {}

.accordion-button {
    color: var(--red) !important;
}

/* =========== Login ============== */

.login-form-parent h1 {
  font-size: 5em;
  font-weight: 300;
  color: var(--red);
}
.login-form-parent h4 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 2em;
    color: var(--red);
}

/* ========== DASHBOARD ========== */

.dashboard-large-btn {
  background: var(--red);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 12em; */
  height: 5em;
  border-radius: 7px;
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
  padding: 1em;
}

.dashboard-large-btn:hover {

    text-decoration: none;
    color: white;
    transition: 0.3s;

    box-shadow: 0px 7px 17px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 0px 7px 17px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 7px 17px 1px rgba(0,0,0,0.52);
}

/* ========== FORMS ========== */

.theme-form {
  background-color: #0000006b;
  color: var(--red);
  padding: 1em;
  border-radius: 4px;
}

.theme-form .form-group {
  margin: 1.2em 0em;
}